.dates {
  display: flex;
  padding: 2rem;
  width: 100%;
  overflow: scroll;
}

.active {
  background-color: rgb(15, 15, 15);
  color: white;
}

@media (min-width: 760px) {
  .dates {
    display: flex;
    padding: 2rem;
    width: 100%;
    overflow: scroll;
    justify-content: center;
  }
}
